body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background:lightblue;
}

@font-face {
    font-family: myFont;
    src: url(Affectionately\ Yours\ -\ TTF.ttf);
}

h2 {
    font-family: myFont;
}

.proposal {
    text-align: center;
    font-weight : bold;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    font-size: 45px;
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}

.yesandno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: row;
    margin-top: 100px;
    margin-left: 10px;
    
}

.tombol {
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 23px;
    color: pink;
    text-align : center;
    padding: 10px 25px;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    margin: 4px 10px;
    transition: background-color 0.3s ease;

}

#yes {
    position: absolute;
    margin-right: 150px;
}

#no {
    position: absolute;
    margin-left: 350px;
    transition: 0.3s;
}

*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.snow_wrap{
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center bottom; 
	overflow: hidden;
	position: relative;
}

.snow, .snow:before, .snow:after {
  position: absolute;
  top: -650px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: 
  radial-gradient(4px 4px at 100px 50px, #fff , transparent), 
  radial-gradient(6px 6px at 200px 150px, #fff, transparent), 
  radial-gradient(3px 3px at 300px 250px, #fff 50%, transparent), 
  radial-gradient(4px 4px at 400px 350px, #fff 50%, transparent), 
  radial-gradient(6px 6px at 500px 100px, #fff 50%, transparent), 
  radial-gradient(3px 3px at 50px 200px, #fff 50%, transparent), 
  radial-gradient(4px 4px at 150px 300px, #fff 50%, transparent), 
  radial-gradient(6px 6px at 250px 400px, #fff 50%, transparent), 
  radial-gradient(3px 3px at 350px 500px, #fff 50%, transparent);
  background-size: 650px 650px;
  animation: snow 3s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-duration: 6s;
  animation-direction: reverse;
}

.snow:before {
	margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-duration: 9s;
  animation-direction: reverse;
}

@keyframes snow {
  to {
    transform: translateY(50px);
  }
}




